<app-github-finder-textbox *ngIf="!success" class="search-github-user"
    (formHasBeenSubmited)="formHasBeenSubmited($event)">
</app-github-finder-textbox>

<div *ngIf="userReposLib$ | async as userReposLib">
    <button mat-mini-fab color="primary" (click)="previouPage()" class="btn-return">
        <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <app-card-github-profile
     class="card-github-profile" 
     [userReposLib]="userReposLib"
     (refresh)="refreshPage($event)"
     >
    </app-card-github-profile>
</div>

<mat-card *ngIf="loading" class="card-loading">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
</mat-card>