@import '../../../../assets/styles/loading.scss';

.card-github-profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-github-user {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}