@import './variables.scss';

.card-dialog {
  box-shadow: none;
  background-color: #ffff !important;
}

.header-image {
  background: url('../images/github-logo.png') no-repeat center -6px;
  background-size: 7em;
}

.card-subtitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

//   background: url('../../../../assets/images/search-bg.svg') no-repeat center;
//   padding-bottom: 500px;
//   margin-bottom: -500px;
//   background-size: 20vh;
//   height: 90%;